body {
  font-size: var(--font-size-md);
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1.15;
  font-weight: 700;
  margin: 0 0 var(--space-md);
}

p {
  margin: 0 0 var(--space-md);
}

a {
  color: inherit;
}

small {
  font-size: var(--font-size-sm);
}
